.otherLogin{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.otherLogin img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all linear .3s;
}
#eyeoff{
    width: 23px;
    height: 23px;
    position: absolute;
    margin-left: -35px;
    margin-top: 10px;
    cursor: pointer;
}
#passwordinput{
    position: relative;
}